<%- include("./head.ejs") %>

    <%- include("./navigation.ejs") %> 

<div style="display: flex;">
    <% for(let contact of contacts) { %>
        <div class="card" style="width: 18rem; margin-top: 2%; margin-right: 2%;">
            <div class="card-body">
              <h5 class="card-title">Име: <%= contact.name %></h5>
              <p class="card-text">Тел.Број: <%= contact.number %></p>
              <p class="card-text">Адреса: <%= contact.email %></p>
              <p class="card-text">Порака: <%= contact.message %></p>
            </div>
            <div class="card-body">
                <form action="/contacts/delete" method="POST">
                    <a href="/contacts/<%= contact._id %>" class="card-link">Избриши</a>
                </form>
            </div>
        </div>
    <% } %>
</div>